In [12]:

from numpy import full


KiloWattHours = 0.1
full_power_time = 8
low_power_time = 9

power = KiloWattHours * full_power_time + 0.5 * KiloWattHours * low_power_time

print(power)

numberOfLamps = 906

totalPower = numberOfLamps * power

print("Current power consumption Results:")
print(totalPower)

totalTime = full_power_time + low_power_time

1.25
Current power consumption Results:
1132.5

In [19]:
from numpy import disp
import pandas as pd


KiloWattSeconds = KiloWattHours / 60 / 60 / 10
print(KiloWattSeconds)


df = pd.read_csv('data.csv')

display(df)

test_power = df['count_on'].sum() * KiloWattSeconds

print(test_power)

hours_test = (len(df)*0.01)/60/60

print(hours_test)

print(totalTime/hours_test)

total_power_test = test_power * (totalTime/hours_test)

2.777777777777778e-06

       delta_time  count_on  count_off
0             0.1        42        864
1             0.1        50        856
2             0.1        50        856
3             0.1        50        856
4             0.1        50        856
...           ...       ...        ...
50677         0.1       626        280
50678         0.1       629        277
50679         0.1       629        277
50680         0.1       629        277
50681         0.1       629        277

[50682 rows x 3 columns]

55.24165555555556
1.4078333333333335
12.07529300343317

100 til 0

In [14]:
print("100 to 0 Results:")
print(total_power_test)

print(total_power_test/totalPower)

100 to 0 Results:
667.0591768280652
0.5890147256759958

100 i aften of 50 i nat

In [15]:
total_power_test_hour = total_power_test/16.5

total_power_test_100_50 = total_power_test_hour * full_power_time + 0.5 * total_power_test_hour * low_power_time

print("100 to 0 at afternoon and 50 to 0 at nigth Results:")
print(total_power_test_100_50)

print(total_power_test_100_50/totalPower)

100 to 0 at afternoon and 50 to 0 at nigth Results:
505.34786123338273
0.4462232770272695

100-50 i aften of 50-0 i nat

In [16]:
test_power = df['count_off'].sum() * KiloWattSeconds * 0.5

print(test_power)

hours_test = (len(df)*0.01)/60/60

print(full_power_time/hours_test)

total_power_test_100to50_50to0 = test_power * (full_power_time/hours_test) + total_power_test_100_50

print("100 to 50 at afternoon and 50 to 0 at nigth Results:")
print(total_power_test_100to50_50to0)

print(total_power_test_100to50_50to0/totalPower)

36.154022222222224
5.682490825145021
100 to 50 at afternoon and 50 to 0 at nigth Results:
710.7927608032497
0.6276315768682117

Message power worst case

In [24]:
send_msg_count = 57794345
receive_msg_count = 57794345

hours_test = (52206*0.01)/60/60
print(hours_test)
print(totalTime/hours_test)
to_total = totalTime/hours_test

1.4501666666666668
11.72279048385243

In [25]:
total_send_msg_count = send_msg_count * to_total
total_receive_msg_count = receive_msg_count * to_total

print(total_send_msg_count)
print(total_receive_msg_count)

677510997.5864843
677510997.5864843